# Private stuff that I don't want on github
# This shouldn't end up in this git repo, but just in case it does, it's ignored
private/

# Machine-specific config that doesn't really need to be in git
user.gitconfig

# Log file I use to debug sometimes
nvim.log

!.config
